body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    background-color: white;
  }

  .dropzone{
    /* width: calc(100vw / 6);
    height: 5vh; */
    width: 100px;
    height: 100px;
    border: 5px dashed #eee;
    text-align: center;
    line-height: 100px;
  }

  input{
    display: none;
  }
  
  #colorPicker{
    position: absolute; 
    left: -9999px; 
    visibility: hidden;
  }